:root {
  --main-background-color: rgba(229, 229, 229, 0.644);
  --main-font-family: "Roboto Mono", monospace;
  --secondary-font-family: "Inter", sans-serif;
  --button-color: #2b3035;
}
h1 h2 h3 h4 h5 h6 {
  font-family: var(--main-font-family);
}
.hero {
  background-color: var(--main-background-color);
  padding: 120px 20px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero h1 {
  font-size: 66px;
  line-height: 60px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
  font-family: var(--secondary-font-family);
}
.hero .btn {
  background: var(--button-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.projects-line {
  font-size: 18px;
  text-align: center;
}

.container .btn {
  background: white;
  border-radius: 6px;
  color: var(--button-color);
  border: 1px solid #2b3035;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.container h1 {
  font-size: 64px;
}
.container p {
  font-size: 16px;
  line-height: 30px;
}
.project-text-description {
  padding: 100px 55px;
}
.container .project-name {
  margin-bottom: 30px;
}
.container .project-text {
  margin-bottom: 30px;
}
.about-page {
  padding: 120px 60px;
}
.about-content h1 {
  font-size: 66px;
  font-family: var(--main-font-family);
}
.about-content h2 {
  font-size: 36px;
  font-family: var(--secondary-font-family);
  line-height: 60px;
}
.about-content p {
  font-size: 24px;
  font-family: var(--secondary-font-family);
}
.about-content {
  margin-right: 50px;
}
.about-page img {
  margin-top: 10px;
}
@media (max-width: 900px) {
  .container {
    text-align: center;
  }
  .hero h1 {
    font-size: 46px;
  }
  .hero h2 {
    font-size: 36px;
  }
  .container h1 {
    font-size: 46px;
  }
  .project-text-description {
    padding: 20px 10px;
  }
  .container .project-name {
    margin-bottom: 10px;
  }
  .container .project-text {
    margin-bottom: 10px;
  }
}
@media (max-width: 900px) {
  .about-page {
    padding: 50px 60px;
  }
  .about-content h1 {
    font-size: 46px;
  }
  .about-content h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .about-content p {
    font-size: 18px;
  }
  .about-content {
    margin-right: 0;
  }
  .about-page img {
    margin-top: 20px;
    width: 80%;
  }
}
