:root {
  --main-background-color: rgba(229, 229, 229, 0.644);
  --main-font-family: "Roboto Mono", monospace;
  --secondary-font-family: "Inter", sans-serif;
  --button-color: #2b3035;
}
h1 h2 h3 h4 h5 h6 {
  font-family: var(--main-font-family);
}
.hero {
  background-color: var(--main-background-color);
  padding: 120px 20px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero h1 {
  font-size: 66px;
  line-height: 60px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
  font-family: var(--secondary-font-family);
}
.hero .btn {
  background: var(--button-color);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.projects-line {
  font-size: 18px;
  text-align: center;
}

.container .btn {
  background: white;
  border-radius: 6px;
  color: var(--button-color);
  border: 1px solid #2b3035;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.container h1 {
  font-size: 64px;
}
.container p {
  font-size: 16px;
  line-height: 30px;
}
.project-text-description {
  padding: 100px 55px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
  .container .btn {
    text-align: center;
  }
}
